@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Data: <input name="message" type="text"/><br>
        <select name="location">
            <option value="ru">RU</option>
            <option value="eu">EU</option>
            <option value="us">US</option>
        </select>
        <input type="submit">
    </form>
</div>