@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    @using(Html.BeginForm("Upload", "Home", FormMethod.Post))
    {
        <form method="post">
            Data: <input name="message" type="text"/><br>
            <select name="location">
                <option value="rus">RUS</option>
                <option value="eu">EU</option>
                <option value="usa">USA</option>
            </select>
            <input type="submit">
        </form>
    }
</div>